.ielts-general-banner {
    background: linear-gradient(0deg, rgba(61, 44, 141, 0.9), rgba(61, 44, 141, 0.9)), url(https://media.edutopia.org/styles/responsive_2880px_16x9/s3/sites/default/files/masters/2022-01/iStock-1324921652-crop.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: 40px;
}

.ielts-test-page {
    padding-bottom: 100px;
}

.ielts-test-page button.ielts-test-selection-button,
.real-test-page .top-button {
    background: #EDEDED;
    border-radius: 20px;
    width: 100%;
    height: 70px;
    border: none;
    color: gray;
    height: 120px;
}

.ielts-test-page button.ielts-test-selection-button h1,
.top-button h1 {
    cursor: pointer;
}

.ielts-test-page button.ielts-test-selection-button h1 .bi,
.top-button .bi {
    margin-right: 12px;
}


.ielts-test-page button:hover,
.real-test-page .top-button:hover {
    background: var(--e-mid-light-purple);
    color: #EDEDED;
}

.ielts-prep-column-circular-progress-container  .css-i4bv87-MuiSvgIcon-root {
    width: 4em;
    height: 3em;
}

.ielts-prep-column-circular-progress-container .css-ol7wxs-MuiTypography-root {
    text-align: center;
}

.ielts-prep-column-circular-progress.MuiTypography-caption {
    font-size: 25px;
}

.ielts-prep-column-circular-progress-container .MuiCircularProgress-determinate {
    width: 100% !important;
    height: 100% !important;
    padding: 20px;
}

.practice-test-section h1 {
    margin-top: 30px;
    background: #3D2C8D;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0;
    padding-left: 20px;
}

.practice-test-section {
    margin-bottom: 10px;
}

.practice-test-section-part {
    background: #EDEDED;
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
}

.ielts-test-page .practice-test-button-play {
    background: var(--e-dark-yellow);
    height: 53px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 88%;
    font-size: 25px;
    color: black;
    border-radius: 20px;
    border: none;
}

.practice-test-section .bi {
    color: white;
    font-size: 50px;
}

.practice-test-section-column-button {
    width: 100%;
}