#footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--e-mid-dark-purple);
}

#footer .footer-icons .bi {
    background: #FFFFFF;
    color: var(--e-mid-dark-purple);
    border-radius: 5px;
    margin-right: 7px;
    padding: 7px;
}