@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Quicksand:wght@400;600;700&display=swap');


.yellow {
  color: var(--e-dark-yellow);
}

.white {
  color: white;
}

.purple {
  color: var(--e-mid-dark-purple);
}

.bold {
  font-weight: 900 !important;
}

.plr-20 {
  padding-left: 200px;
  padding-right: 200px;
}

.plr-10 {
  padding-left: 80px;
  padding-right: 80px;
}

.ta-center {
  text-align: center
}

.ta-left {
  text-align: left
}

.mt-20 {
  margin-top: 20px;
}

.pl-10 {
  padding-left: 10px;
}

.ta-left {
  text-align: left !important;
}

button:focus,
.accordion-button:focus {
  outline: none;
  box-shadow: none !important;
}

:root {
  --e-dark-purple: #1C0C5B;
  --e-mid-dark-purple: #3D2C8D;
  --e-mid-light-purple: #916BBF;
  --e-light-purple: #ecddff;
  --e-dark-yellow: #E3B71B;
}
