
.yourcourse-page {
    padding-bottom: 200px;
}

.yourcourse-page .top-button {
    height: 70px;
    margin-bottom: 40px;
}

.yourcourse-banner {
    margin-bottom: 100px;
}

.yourcourse-page .your-course-image {
    height: 197.27px;
}

.yourcourse-page .your-course {
    height: 314.66px
}